.active{
    background-color: gray;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 20px 30px 40px  crimson;
    background-color: crimson;
    padding-left: 140px;
    padding-right: 140px;
    margin-bottom: 0;
    cursor:pointer ;
    font-style: italic;
}

.header h1:hover{
    background: black;
    color: white;
    box-shadow: 20px 30px 40px white;
    border-radius: 10px; 
    transition: 1s ease-in-out; 
   
}
.header nav a{
   color: white;
    text-decoration: none;
    margin-left: 20px;
    text-align: center;
    font-size: 21px;
   font-style: italic;
}

.header a:hover{
     border-bottom: 1px solid black;
     border-radius: 7px;
     color: black;
     font-weight: bold;transition: 0.5s ease-in-out
 }
 
